<aside
  :class="sidebarToggle ? 'translate-x-0 lg:w-[90px]' : '-translate-x-full'"
  class="sidebar fixed left-0 top-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-hidden border-r border-gray-200 bg-white px-5 dark:border-gray-800 dark:bg-black lg:static lg:translate-x-0"
>
  <div
    :class="sidebarToggle ? 'justify-center' : 'justify-between'"
    class="sidebar-header flex items-center gap-2 pt-8 pb-7"
  >
    <a href="index.html">
      <span class="logo" :class="sidebarToggle ? 'hidden' : ''">
        <img class="dark:hidden" src="./images/logo/logo.svg" alt="Dielca" />
        <img
          class="hidden dark:block"
          src="./images/logo/logo-dark.svg"
          alt="Dielca"
        />
      </span>

      <img
        class="logo-icon"
        :class="sidebarToggle ? 'lg:block' : 'hidden'"
        src="./images/logo/logo-icon.svg"
        alt="Dielca"
      />
    </a>
  </div>

  <div
    class="flex flex-col overflow-y-auto duration-300 ease-linear no-scrollbar"
  >
    <nav>
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span
            class="menu-group-title"
            :class="sidebarToggle ? 'lg:hidden' : ''"
          >
            Operativa
          </span>
        </h3>

        <ul class="mb-6 flex flex-col gap-4">
          <li>
            <a
              href="index.html"
              class="menu-item group"
              :class="page === 'dashboard' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'dashboard' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.5 3.25C4.25736 3.25 3.25 4.25736 3.25 5.5V8.99998C3.25 10.2426 4.25736 11.25 5.5 11.25H9C10.2426 11.25 11.25 10.2426 11.25 8.99998V5.5C11.25 4.25736 10.2426 3.25 9 3.25H5.5ZM12.75 15C12.75 13.7574 13.7574 12.75 15 12.75H18.5C19.7426 12.75 20.75 13.7574 20.75 15V18.5C20.75 19.7426 19.7426 20.75 18.5 20.75H15C13.7574 20.75 12.75 19.7426 12.75 18.5V15ZM4.75 15C4.75 14.5858 5.08579 14.25 5.5 14.25H9C9.41421 14.25 9.75 14.5858 9.75 15V18.5C9.75 18.9142 9.41421 19.25 9 19.25H5.5C5.08579 19.25 4.75 18.9142 4.75 18.5V15ZM15 4.75C14.5858 4.75 14.25 5.08579 14.25 5.5V8.99998C14.25 9.41419 14.5858 9.74998 15 9.74998H18.5C18.9142 9.74998 19.25 9.41419 19.25 8.99998V5.5C19.25 5.08579 18.9142 4.75 18.5 4.75H15Z"
                  fill=""
                />
              </svg>
              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Resumen
              </span>
            </a>
          </li>

          <li>
            <a
              href="orders.html"
              class="menu-item group"
              :class="page === 'orders' || page === 'orderDetail' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'orders' || page === 'orderDetail' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3.25 5.5C3.25 4.25736 4.25736 3.25 5.5 3.25H18.5C19.7426 3.25 20.75 4.25736 20.75 5.5V18.5C20.75 19.7426 19.7426 20.75 18.5 20.75H5.5C4.25736 20.75 3.25 19.7426 3.25 18.5V5.5ZM6.25 8.25C6.25 7.83579 6.58579 7.5 7 7.5H17C17.4142 7.5 17.75 7.83579 17.75 8.25C17.75 8.66421 17.4142 9 17 9H7C6.58579 9 6.25 8.66421 6.25 8.25ZM6.25 12C6.25 11.5858 6.58579 11.25 7 11.25H17C17.4142 11.25 17.75 11.5858 17.75 12C17.75 12.4142 17.4142 12.75 17 12.75H7C6.58579 12.75 6.25 12.4142 6.25 12ZM7 15C6.58579 15 6.25 15.3358 6.25 15.75C6.25 16.1642 6.58579 16.5 7 16.5H13C13.4142 16.5 13.75 16.1642 13.75 15.75C13.75 15.3358 13.4142 15 13 15H7Z"
                  fill=""
                />
              </svg>
              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Pedidos
              </span>
            </a>
          </li>

          <li>
            <a
              href="sites.html"
              class="menu-item group"
              :class="page === 'sites' ? 'menu-item-active' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'sites' ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 2.75C12.4142 2.75 12.75 3.08579 12.75 3.5V4.37937C16.0821 4.74153 18.6667 7.56408 18.6667 10.9998C18.6667 14.8566 15.6563 17.2297 13.3925 20.1054C12.6932 20.994 11.3068 20.994 10.6075 20.1054C8.34374 17.2297 5.33333 14.8566 5.33333 10.9998C5.33333 7.56408 7.91787 4.74153 11.25 4.37937V3.5C11.25 3.08579 11.5858 2.75 12 2.75ZM12 9.25C11.0335 9.25 10.25 10.0335 10.25 11C10.25 11.9665 11.0335 12.75 12 12.75C12.9665 12.75 13.75 11.9665 13.75 11C13.75 10.0335 12.9665 9.25 12 9.25Z"
                  fill=""
                />
              </svg>
              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Sedes
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div
      :class="sidebarToggle ? 'lg:hidden' : ''"
      class="mx-auto mb-10 w-full max-w-60 rounded-2xl bg-gray-50 px-4 py-5 text-center dark:bg-white/[0.03]"
    >
      <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">
        Entorno local
      </h3>
      <p class="mb-4 text-gray-500 text-theme-sm dark:text-gray-400">
        Panel interno para red privada, Docker en Ubuntu y lectura segura desde
        Supabase.
      </p>
      <a
        href="orders.html"
        class="flex items-center justify-center rounded-lg bg-brand-500 p-3 font-medium text-white text-theme-sm hover:bg-brand-600"
      >
        Abrir pedidos
      </a>
    </div>
  </div>
</aside>
